name: UI test

on:
  push:
    branches:
    - '**'

jobs:
  ui_test:
    timeout-minutes: 45
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: cachix/install-nix-action@v13
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/8e4fe32876ca15e3d5eb3ecd3ca0b224417f5f17.tar.gz

    - name: Install dependencies
      run: nix-env -if ui-test/default.nix

    - name: Start Vault
      working-directory: on-premise-deploy/docker-compose/
      run: . run-vault.sh

    - name: Start Docker Compose
      working-directory: on-premise-deploy/docker-compose/
      run: docker-compose up -d

    - name: Wait for Docker Compose and Vault
      # TODO: Use a script to ascertain docker health instead of flat wait time
      run: sleep 120s

    - name: Populate transfer data with TTK
      run: docker exec -it mojaloop-testing-toolkit npm run cli -- outbound -i collections/payer-tests/sendmoney.json -e environments/environment.json

    - name: Populate transfer error data with TTK
      run: docker exec -it mojaloop-testing-toolkit npm run cli -- outbound -i collections/payer-tests/sendmoney_error.json -e environments/environment.json

    - name: Install test dependencies
      working-directory: ui_test/tests
      run: |-
        npm ci

    - name: Run tests
      working-directory: ui_test/tests
      run: |-
        PM4ML_ENDPOINT="http://localhost:8081" npm run test:headless
